<style>
	.content { background-image: none; background-color: #FFFFFF; }
	.content_center { background-image: none; background-color: #FFFFFF; }
	.form_standard { background: url(http://staging.continuum.io/img/inner_form_background.png); }
	.blog_title { margin-bottom: 20px; }
	.blog_content { margin-bottom: 20px; }
	p { margin-right: 20px; }
	
	#content .entry-title {
		color: #000;
		font-size: 21px;
		font-weight: bold;
		line-height: 1.3em;
		margin-bottom: 0;
	}
	.entry-title a:link,
	.entry-title a:visited {
		color: #000;
		text-decoration: none;
	}
	.entry-title a:active,
	.entry-title a:hover {
		color: #ff4b33;
	}
	.entry-meta {
		color: #888;
		font-size: 12px;
	}
	.entry-meta abbr,
	.entry-utility abbr {
		border: none;
	}
	.entry-meta abbr:hover,
	.entry-utility abbr:hover {
		border-bottom: 1px dotted #666;
	}
	.entry-content,
	.entry-summary {
		clear: both;
		padding: 12px 0 0 0;
	}
	#content .entry-summary p:last-child {
		margin-bottom: 12px;
	}
	.entry-content fieldset {
		border: 1px solid #e7e7e7;
		margin: 0 0 24px 0;
		padding: 24px;
	}
	.entry-content fieldset legend {
		background: #fff;
		color: #000;
		font-weight: bold;
		padding: 0 24px;
	}
	.entry-content input {
		margin: 0 0 24px 0;
	}
	.entry-content input.file,
	.entry-content input.button {
		margin-right: 24px;
	}
	.entry-content label {
		color: #888;
		font-size: 12px;
	}
	.entry-content select {
		margin: 0 0 24px 0;
	}
	.entry-content sup,
	.entry-content sub {
		font-size: 10px;
	}
	.entry-content blockquote.left {
		float: left;
		margin-left: 0;
		margin-right: 24px;
		text-align: right;
		width: 33%;
	}
	.entry-content blockquote.right {
		float: right;
		margin-left: 24px;
		margin-right: 0;
		text-align: left;
		width: 33%;
	}
	.page-link {
		clear: both;
		color: #000;
		font-weight: bold;
		margin: 0 0 22px 0;
		word-spacing: 0.5em;
	}
	.page-link a:link,
	.page-link a:visited {
		background: #f1f1f1;
		color: #333;
		font-weight: normal;
		padding: 0.5em 0.75em;
		text-decoration: none;
	}
	.home .sticky .page-link a {
		background: #d9e8f7;
	}
	.page-link a:active,
	.page-link a:hover {
		color: #ff4b33;
	}
	body.page .edit-link {
		clear: both;
		display: block;
	}
	#entry-author-info {
		background: #f2f7fc;
		border-top: 4px solid #000;
		clear: both;
		font-size: 14px;
		line-height: 20px;
		margin: 24px 0;
		overflow: hidden;
		padding: 18px 20px;
	}
	#entry-author-info #author-avatar {
		background: #fff;
		border: 1px solid #e7e7e7;
		float: left;
		height: 60px;
		margin: 0 -104px 0 0;
		padding: 11px;
	}
	#entry-author-info #author-description {
		float: left;
		margin: 0 0 0 104px;
	}
	#entry-author-info h2 {
		color: #000;
		font-size: 100%;
		font-weight: bold;
		margin-bottom: 0;
	}
	.entry-utility {
		clear: both;
		color: #888;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 20px;
	}
	.entry-meta a,
	.entry-utility a {
		color: #888;
	}
	.entry-meta a:hover,
	.entry-utility a:hover {
		color: #ff4b33;
	}
	#content .video-player {
		padding: 0;
	}

</style>